<table class="table table-hover">
        <tr>
            <td>
                {{ project.project_name }}
            </td>
            <td>
                {{ project.pid }}
            </td>
            <td>
                {{ project.pmt }}
            </td>
            <td>
                {{ project.dev_lead }}
            </td>
            <td>
                {{ project.developers }}
            </td>
            <td>
                {{ project.sprint_schedule }}
            </td>
            <td>
                {{ project.lpm }}
            </td>
            <td>
                {{ project.pm }}
            </td>
            <td>
                {{ project.scrum_master }}
            </td>
            <td>
                {{ project.se }}
            </td>
            <td>
                {{ project.notes }}
            </td>
        </tr>
    </table>
</table>