{% extends "base.html" %}
{% block app_content %}
    <div class="row" style="display:flex;  flex-wrap: wrap;">
        <div class="col-xs-2"><strong>DM Seq No</strong></div>
        <div class="col-xs-2"><strong>Schema</strong></div>
        <div class="col-xs-2"><strong>DB Object</strong></div>
        <div class="col-xs-2"><strong>Interface</strong></div>
        <div class="col-xs-2"><strong>Topic</strong></div>
        <div class="col-xs-2"><strong>Data Provider</strong></div>
    </div>
    {% for object in all_objects %}
        {% include '_object.html' %}
    {% endfor %}
{% endblock %}