{% extends "base.html" %}
{% block app_content %}
<div class="container" style="border:1px solid #cecece;">
    <div class="row">
        <div class="col-md-12">
            <form id="delete"
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Details for {{ project_detail.pid }} - {{ project_detail.project_name }}</h2>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>
        <div class="col-md-12">
            <div class="col-xs-3"><strong>PMT: </strong> {{ project_detail.pmt }}</div>
            <div class="col-xs-3"><strong>Dev Lead: </strong> {{ project_detail.dev_lead }}</div>
            <div class="col-xs-3"><strong>Developers: </strong> {{ project_detail.developers }}</div>
            <div class="col-xs-3"><strong>Sprint Schedule: </strong> {{ project_detail.sprint_schedule }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3"><strong>LPM: </strong> {{ project_detail.lpm }}</div>
            <div class="col-xs-3"><strong>PM: </strong> {{ project_detail.pm }}</div>
            <div class="col-xs-3"><strong>Scrum Master: </strong> {{ project_detail.scrum_master }}</div>
            <div class="col-xs-3"><strong>SE: </strong> {{ project_detail.se }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12"><strong>Notes: </strong> {{ project_detail.notes }}</div>
        </div>
    </div>
</div>

{% endblock %}