{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12"><a href="{{ url_for('edit_object', id=object_detail.id) }}">Edit</a></div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
</div>
<div class="container" style="border:1px solid #cecece;">
    <div class="row">
        <div class="col-md-12">
            <form id="delete"></form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Details for {{ object_detail.db_object }}</h3>
            <h3>Project ID: {{ object_detail.projects.pid }} - Object PID: {{ object_detail.project_id }} - Project Name: {{ object_detail.projects.project_name }}</h3>
            <div class="row"><div class="col-md-12">&nbsp;</div></div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3"><strong>Dev Lead: </strong> {{ object_detail.projects.dev_lead }}</div>
            <div class="col-xs-3"><strong>Developers: </strong>{{ object_detail.projects.developers }}</div>
            <div class="col-xs-3"><strong>Release: </strong> {{ object_detail.projects.release }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
</div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
<div class="container" style="border:1px solid #cecece;">
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3"><strong>DM Sequence No: </strong> {{ object_detail.dm_seq }}</div>
            <div class="col-xs-3"><strong>Data Type: </strong> {{ object_detail.data_type }}</div>
            <div class="col-xs-3"><strong>Schema: </strong> {{ object_detail.schema }}</div>
            <div class="col-xs-3"><strong>Frequency: </strong> {{ object_detail.frequency }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3"><strong>Data Provider: </strong> {{ object_detail.data_provider }}</div>
            <div class="col-xs-3"><strong>Providing System: </strong>: </strong> {{ object_detail.providing_system }}</div>
            <div class="col-xs-3"><strong>Interface: </strong> {{ object_detail.interface }}</div>
            <div class="col-xs-3"><strong>Topic: </strong> {{ object_detail.topic }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3"><strong>Data Retention: </strong> {{ object_detail.data_retention }}</div>
            <div class="col-xs-3"><strong>Latency: </strong>: </strong> {{ object_detail.latency }}</div>
            <div class="col-xs-3"><strong>Data in QA0: </strong> {{ object_detail.data_in_qa0 }}</div>
            <div class="col-xs-3"><strong>Row Count Per Period: </strong> {{ object_detail.row_count_per_period }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3"><strong>Active In Prod: </strong> {{ object_detail.active_in_prod }}</div>
            <div class="col-xs-3"><strong>Order By: </strong>: </strong> {{ object_detail.order_by }}</div>
            <div class="col-xs-3"><strong>Segment By: </strong> {{ object_detail.segment_by }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12"><strong>Special Notes: </strong> {{ object_detail.special_notes }}</div>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
</div>

{% endblock %}